*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}






header{
    background-image:url(images/banner/banner1.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    
    margin-top:auto;
    padding-top:216px;
    padding: 166px;

}

.banner h1{
    font-weight:700;
    font-size:65px;
    color:#151414;
    max-width:525px;

    margin-left:auto;
    margin-right:80px;
    text-align:end;
}

.banner p{
    font-weight:400;
    font-size:16px;
    color:#444343;
    max-width:494px;

    margin-top:24px;
    margin-left:auto;
    margin-right:80px;

    text-align:end;
}

.banner-btn{
    background-color:#F15B22;
    color:#FFFFFF;
    width:100%;
    font-weight:600;
    font-size:20px;

    

    padding:20px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.banner-btn:hover{
    background-color:#b25631;
}

.btn-container{
margin-left:auto;
    margin-right:80px;
    margin-top:32px;
    max-width:160px;
    
}