*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}






header{
    background-image:url("images/banner/banner1.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    
    margin-top:auto;
    padding-top:216px;
    padding: 166px;

}

.banner h1{
    font-weight:700;
    font-size:65px;
    color:#151414;
    max-width:525px;

    margin-left:auto;
    margin-right:80px;
    text-align:end;
}

.banner p{
    font-weight:400;
    font-size:16px;
    color:#444343;
    max-width:494px;

    margin-top:24px;
    margin-left:auto;
    margin-right:80px;

    text-align:end;
}

.banner-btn{
    background-color:#F15B22;
    color:#FFFFFF;
    width:100%;
    font-weight:600;
    font-size:20px;

    

    padding:20px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.banner-btn:hover{
    background-color:#b25631;
}

.btn-container{
margin-left:auto;
    margin-right:80px;
    margin-top:32px;
    max-width:160px;
    
}

.info-container{
    display:flex;
}
.info-text{
    max-width:416px ;
    margin-left:auto;
    margin-right:322px;
    margin-top:370px;
}

.info-image{
    max-width:569px ;
    margin-right:auto;
    margin-left:206px;
    margin-top:131px;
    /* color:#F15B22; */
}

.info-text h2{
    font-weight:700;
    font-size:40px;
    color:#151414;
    max-width:288px;
}

.info-text p{
    font-weight:400;
    font-size:16px;
    color:#444343;
    max-width:416px;
    margin-top:24px;
    margin-bottom:16px;
}

.check-list{
    padding:0;
    /* margin:0; */
    list-style:none;
}

.check-list li{
    position: relative;
    margin-bottom:15px;
    padding-left:35px;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    color:#444343;
}

.check-list li::before{
    content: "";
    position:absolute;
    left:0;
    top:2px;
    width:20px;
    height:20px;
    background-image:url("images/checkmarks.png");
    background-size:contain;
    background-repeat:no-repeat;

}

.plan{
    max-width:1140px;
    /* border:1px solid black; */
    margin:130px auto;
}

.plan h1{
    font-weight: 700;
    font-size:40px;
    color:#151414;
   text-align:center;
}

.plan-container{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
    text-align:center;
    padding:10px;
}
.plan-content{
    box-shadow:10px -5px 15px lightgray ;
    border-radius:5px;
    max-width:180px;
    text-align:center;
    padding:10px;
}
.plan-content h2{
    font-weight:700;
    font-size:30px;
    color:#151414;
    margin:10px;
}

#img{
    width:100%;
    max-width:1140px;
    margin:130px auto;
    display:flex;
    flex-wrap:wrap;
}

.img-container{
    background-image:url(images/watch.png);
    background-repeat:no-repeat;
    position:relative;
    display:flex;
}

.positivity{
    position:absolute;
    max-width:460px;
    top:60px;
    left:65px;
    
}

.positivity h1{
    margin-bottom:24px;
    font-weight:700;
    font-size:40px;
    color:#FFFFFF;

}

#img .btn-callNow{
    color:#F15B22;
    padding:20px 36px;
    border:none;
    border-radius:5px;

    font-weight:600;
    font-size:20px;
    cursor:pointer;
}

.btn-callNow:hover{
    background-color:darkgray;
}

footer{
    background-color:#151414;
    color:#F8F8F8;
    display:flex;
    padding:130px 0;

}

.footer-info{
    max-width:485px;
    margin-right:auto;
    margin-left:230px;

}

.footer-info h1{
    font-weight:700;
    font-size:45px;
    color:#F8F8F8;
    margin-bottom:16px;
}

.footer-info p{
    font-weight:400;
    font-size:16px;
    color:#FFFFFF;
    margin-bottom:24px;
}
.footer-logo{
    width:185px;
    display:flex;
    justify-content: space-between;
}

.footer-mail{
    max-width:325px;
    margin-left:auto;
    margin-right:230px;
    /* display:flex; */
    /* justify-content: start; */
}

.footer-mail h1{
    font-weight:600;
    font-size:25px;
    color:#FFFFFF;
    margin-bottom:31px;
}

.footer-mail form{
    position:relative;
    margin-top:20px;
}
.footer-mail form label{
    position:absolute;
    top:24%;
    left:10px;
    transform:translateY(-50%);
    transition:all 0.2 ease;
    pointer-events:none;
    color:#999;
}

.footer-mail form input{
    width:300px;
    padding:15px;
    outline:none;
    border:1px solid lightgray;
    border-radius:5px;
    margin-top:10px;
    margin-bottom:16px;
    background-color:#151414
}

.footer-mail form input:focus + label,
 .footer-mail form input:not(:placeholder-shown) + label{
  top:-15px;
  left:5px;
  margin-top:10px;
  color:#F8F8F8;

}

.form-btn{
    font-weight:600;
    font-size:20px;
    color:#F15B22;
    padding:20px 36px;

    border:none;
    border-radius:5px;

    /* margin-top:16px; */
    cursor:pointer;
}

.form-btn:hover{
    background-color:rgb(169, 169, 169);
}